// Place all the styles related to the publics/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.eventall{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  //right: 100px;
  position: relative;
}

.p_index{
    display: inline-block;
    text-align:center;
    //width: 50px;
    //margin-left: 10%;
    //margin-right: 9%;
    //margin-top: 40px;
}
.d-inline-flex p-2 bd-highlight{
  
}

.comments_area{
  width: 400px;
  height: 200px; /* これを追加 */
}
.scroll{
  overflow: scroll;
  height: 200px; 
  overflow-x: hidden;
}

  .breakWord {
    word-break: break-word;
  }


.d-button{
  width: 120px;
}
$label-color:yellow;
label{
  color:label-color;
}
.favorite{
  color: red;
}