<h1>マイページ</h1>

<table>
    <tr><th>お名前</th><td><%= @user.name %></td></tr>
    <tr><th>メールアドレス</th><td><%= @user.email %></td></tr>
    <tr><th>ユーザアイコン画像</th><td><%= @user.profile_image_id %></td></tr>
    <tr><th></th><td>#ここにnameを出す</td></tr>
</table>
  <%= link_to "編集する", edit_publics_user_path(@user) %>