<h1>イベント会場一覧</h1>

<%= link_to "新規登録", new_admin_event_path %>
<table>
    <tr>
        <th>イベント会場ID</th>
        <th>イベント会場名</th>
        <th>住所</th>
    </tr>
    <% @events.each do |event| %>
    <tr>
        <td><%= event.id %></td>
        <td><%= event.eventname %></td>
        <td><%= event.address %></td>
    </tr>
    <% end %>
</table>