<h1>イベント会場一覧</h1>

<%#= link_to "新規登録", new_publics_event_path %>

    <% @events.each do |event| %>
    <div>
        <div><%= attachment_image_tag event, :image, :fill, 300,300 %></div>
        <div><%= link_to event.eventname, publics_event_path(event) %></div>
        <div><%= link_to event.siteurl, event.siteurl %></div>
        <div>ここがいいね</div>
    </div>
    <% end %>
    
<h2>gmap</h2>
<div id="target"></div>
<div id="address" value=""></div>
<!--style>#map {height: 600px;width: 600px;}</style-->


<!--script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script-->


