/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: yellow;
  a,a:link, a:visited {
    color: #F45DBF;
    .fa{
      color: red;
    }
  }
  
}



header {
  widht: max;
  height: 100px;
}


img.sized {
  width: 50%;
  height: 50%;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  align-items: center;
  color: black;
  li {
    a,a:link, a:visited {
      color: white;
    }
    padding: 0 10px;
    margin-top: 30px;
    //margin-left: 100px;
    list-style: none;
    //border-bottom: 1px solid #FFCCFF;
  }
}

.jumbotron {
  background-image: image-url("kaijo.jpg");
  background-size: cover;
  background-position: center 60%;
}
//.cover{
//  background-image:  image-url(‘kaijo.jpg’);
//  background-size:  cover;
//}

$main-color:red;
 h2{
 	color:$main-color;
 }
#error_explanation{
  color:$main-color;
  font-size: 1.2em;
}
#favorite{
  color: $main-color;
}
.favo{
  color: $main-color;
}


h1{
 	color: #00ffff;
}



/*.lb {
background-color: #efefef;
font-size: 20px;
color: #eaff00;
}*/

